@page "/sudokuinfo"
<h3 style="text-align:left; padding: 30px;">Program name: Sudoku solver</h3>
<h3 style="text-align:left; padding: 10px; padding-left:30px; padding-top:0px;">Developer: Oleg Shotyk</h3>
<h3 style="text-align:left; padding: 10px; padding-left:30px; padding-top:20px;">Email: <u>olegshotyk@gmail.com</u></h3>
